<div class="tv full channel">
		
	<div id="player" />
	<div class="player-holder" data-fn="selectPopup" />
	
	<div class="channel-list movement-transition">
		<div class="cat-holder">
			<div class="categories" data-fn-select="loadChannels" data-fn="loadChannels" />
		</div>
		<div class="qwert">
			<div class="chl" data-fn="init" data-page="Channel"  />
		</div>
	</div>

	<div class="info">
		<div class="panel panel-middle movement-transition">
			<div class="row-fluid">
				<div class="span3 logo">
					<span class="number" />
					<img />
				</div>
				<div class="span6">
					<div class="title" />
					<div class="description" />
				</div>
				<div class="span2 text-right">
					<div class="time" />
					<div class="current-time" />
					<div class="elapsed" />
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="progress"><div class="bar" /></div>
				</div>
			</div>
			<div class="row-fluid controls">
				<div class="span4 record">
					<span class="circle red" /> Record Channel
				</div>
				<div class="span4 favorites">
					<span class="circle green" />
					<span class="text" />
				</div>
				<div class="span4 report">
					<span class="circle blue" /> Report a Problem
				</div>
			</div>
		</div>
	</div>
	
	<div class="ads-overlay animate-movement-horizontal" />

	<div class="ads-ticker animate-movement-vertical" />

	<div class="ads-timer"><span data-token="Sponsored Advertisement" /><span class="timer" /></div>
	
	<div class="recording blinking"><span class="circle red" /> <span data-token="recording" /></div>
	
</div>