<section class="search-page">
    <section class="search-toolbar">
        <div class="tools" data-nav="false"></div>
    </section>

    <section class="search-results-holder">

        <div class="search-results-scroller movement-transition">
            <section class="search-results-movies sr-row l">
                <div class="movies"></div>
            </section>

            <section class="search-results-channels sr-row xs">
                <div class="channels"></div>
            </section>

            <section class="search-results-series sr-row s">
                <div class="series"></div>
            </section>

            <section class="search-results-music sr-row m">
                <div class="music"></div>
            </section>
        </div>

    </section>
</section>
