<div class="footer header closed movement-transition">
	<div class="footer-left">
		<div class="time" />
		<div class="weather">
			<div>
				<p class="city" />
				<p class="degree" />
			</div>
			<div class="icon" />
		</div>
		<div class="storage" />
		<div class="balance" />
		<div class="user-account bg-border" />
	</div>
	<div class="footer-right">
		<img class="app-logo" />
	</div>
	<div class="mobile-handle"><span class="ico ico-keyboard-arrow-down"></span></div>
</div>
<div class="header-navigation movement-transition">
	<div class="main-menu" />
</div>
<div class="main" />

