<section class="content full vod player">
	
	<div id="player" />
	<div class="player-holder" data-fn="selectPopup" data-nav="false" />
	
		<div class="player-control movement-transition">
            <div class="player-info">
                <div class="poster">
                    <img />
                </div>
                <div class="data">
                    <div class="movie-header row-fluid">
                        <div class="span6">
                            <span class="title" />
                        </div>
                        <div class="span6 text-right">
                            <div class="report" style="display: inline-block">
                                <span class="circle blue" />
                                <span data-token="Report a Problem" />
                            </div>
                        </div>
                    </div>	
                    <div class="progress-holder">
                        <span class="duration" />
                        <div class="progress"><div class="bar" /></div>
                        <span class="remaining" />
                    </div>
                </div>
            </div>
            <div class="sub-menu-holder">
                <div class="sub-menu" />
            </div>
	   </div>
	<div class="ads-overlay" />
	<div class="ads-ticker" />
	<div class="ads-timer"><span /><span class="timer" /></div>
</section>