<section class="content full">
	<section class="epg">
		<section class="header">
			<div class="date" />
			<div class="hours"><div class="hour-scroller" /></div>
		</section>
		<section class="rows">
			<div class="channels"><div class="channel-scroller" /></div>
            <div class="programmes">
				<div class="epgh" data-scroll-into-view="true" data-fn-select="setPreview" />
			</div>
		</section>
	</section>

	<div class="epg-channel-preview">
		<div class="epg-channel-preview-data">
			<img class="epg-channel-preview-logo" />
			<div class="epg-channel-preview-lines">
				<div class="channel-name" />
				<div class="programme-name" />
				<div>
					<span class="time" />
					<span class="date" />
				</div>
			</div>
			<div class="text-right">
				<span class="circle blue" />
				<span class="epg-control" data-fn="keyBlue" data-token="-24 hrs" />
				<span class="circle green" />
				<span class="epg-control" data-fn="keyGreen" data-token="+24 hrs" />
			</div>
		</div>
		<div class="epg-channel-preview-show" />
		<div class="epg-channel-preview-player">
				<div class="preview-player-holder" />
		</div>
		
	</div>
</section>