<div class="ad-zone az1" data-type="vertical" data-zone="border"><div class="ad-placeholder" /></div><!--
--><div class="content home">
	<div class="news-holder">
		<div class="metro-news-date" />
		<div class="metro-news-image"><div /></div>
		<div class="metro-news-text"><div /></div>
	</div>
    
	<div class="movies-holder">
		<div class="movies" />
	</div>
	
	<div class="series-holder">
		<div class="series" />
	</div>
	
	<div class="channels-holder">
		<div class="channels" />
	</div>

</div><!--
--><div class="ad-zone az2" data-type="vertical" data-zone="border"><div class="ad-placeholder" /></div>