<div class="home">
	
	<div class="ad-zone ad-1" data-nav="false" data-type="vertical" data-zone="zone"><div class="ad-placeholder" /></div>

	<div class="home-middle">
		
		<div class="metro-holder nav nav-always">
			<div class="prev" data-fn="scrollHero" data-param="true"><div class="arrow-left"></div></div>
			<div class="metro" data-extend-rows="false"/>
			<div class="next" data-fn="scrollHero" data-param=""><div class="arrow-right"></div></div>
		</div>
		<div class="news-holder">
			<div class="date" />
			<img />
			<div class="text" />
		</div>
		
	</div>

	<div class="ad-zone ad-2" data-nav="false" data-type="vertical" data-zone="zone"><div class="ad-placeholder" /></div>
	
	<span class="ico ico-keyboard-arrow-down slow-bounce" />
	
	<div class="channel-holder movement-transition">
		<div class="nav-always">
			<div class="channels" />
		</div>
	</div>
	
</div>