<div class="header closed movement-transition">
	<div class="left">
		<div class="btn-menu" data-nav="false" />
		<div class="balance" />
	</div>
	<div class="center">
		<img class='app-logo' />
	</div>
	<div class="right">
		<div class="location">
			<div class="city" />
			<div class="country" />
		</div>
		<div class="time" />
		<div class="storage" />
		<div class="icon" />
		<div class="degree" />
		<div class="user-account bg-border" />
	</div>
	<div class="mobile-handle"><span class="ico ico-keyboard-arrow-down"></span></div>
</div>

<div class="main" />

<div class="footer movement-transition">
	<div class="btn-close"><div class="main-menu-close na" data-nav="false" /></div>
	<div class="main-menu na" />
</div>