<section class="settings-panel-holder">
	<div class="settings-panel">
		<div class="settings-header row-fluid">
			<div class="span6">
				<p class="title" />
				<p class="description" data-token="Information about your device and system" />
			</div>
			<div class="span6">
				<p class="title" data-token="Current setting" />
				<p class="value" />
			</div>
		</div>
		<div class="settings-content">
			<div class="settings-zone"></div>
		</div>
	</div>
</section>

<section class="settings-menu-holder">
	<div class="settings-menu"></div>
</section>