<section class="settings-panel-holder">
	<div class="settings-panel">
		<div class="settings-header row-fluid">
			<div class="span6">
				<p class="title" />
				<p class="description" data-token="Measure your connection speed" />
			</div>
			<div class="span6"></div>
		</div>
		<div class="settings-content speed-test">
			<div class="row-fluid">
				<div class="span5 text-center download">
					<div class="gauge g100">
						<img src="artwork/gauge-needle.png" />
					</div>
					<div>
						<div class="st-label">
							<div class="text" data-token="Download speed"></div>
							<div class="value"></div>
							<div class="text" data-token="Higher is better"></div>
						</div>
					</div>
				</div>
				<div class="span2">
					<div class="speed-test-controls">
						<div class="controls"></div>
					</div>
				</div>
				<div class="span5 text-center ping">
					<div class="gauge g1000">
						<img src="artwork/gauge-needle.png" />
					</div>
					<div>
						<div class="st-label">
							<div class="text" data-token="Latency"></div>
							<div class="value"></div>
							<div class="text" data-token="Lower is better"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="settings-menu-holder">
	<div class="settings-menu"></div>
</section>