<section class="content full epgh-container">
	<section class="preview">
		<div class="row-fluid">
			<div class="logo"><img /></div>
			<div class="data">
                <div class="date" />
				<div class="time" />
				<div class="name" />
			</div>
            <div class="">
                <div class="prog-img" />
                <div class="description" />
            </div>
		</div>
        <div class="controls-sk">
            <div class="controls-holder">
                <span class="circle blue" />
                <span class="epg-control" data-fn="keyBlue" data-token="-24 hrs" />
                <span class="circle green" />
                <span class="epg-control" data-fn="keyGreen" data-token="+24 hrs" />
            </div>
        </div>
	</section>
	<section class="epg">
		<section class="header">
			<div class="date" />
			<div class="hours"><div class="hour-scroller" /></div>
		</section>
		<section class="rows">
			<div class="channels"><div class="channel-scroller" /></div><!--
		 --><div class="programmes">
				<div class="epgh" data-scroll-into-view="true" data-fn-select="setPreview" />
			</div>
		</section>
	</section>
</section>