<section class="manager-panel left">
    <div class="panel-container">
        <div class="groups" />
        <div class="channels list" />
    </div>
</section>
<section class="manager-panel right">
    <div class="panel-container">
        <div class="header" data-token="Favorites" />
        <div class="favorites list" />
    </div>
    <section class="manager-legend">
        <div class="legend left">
            <div class="label" data-fn="keyBlue">
                <span class="circle blue"></span><span class="text">Move to Favorites</span>
            </div>
        </div>
        <div class="legend right">
            <div class="label" data-fn="keyGreen">
                <span class="circle green"></span><span class="text">Move up</span>
            </div>
            <div class="label" data-fn="keyYellow">
                <span class="circle yellow"></span><span class="text">Move down</span>
            </div>
            <div class="label" data-fn="keyRed">
                <span class="circle red"></span><span class="text">Remove from Favorites</span>
            </div>
        </div>
    </section>
</section>