<div class="content home">
    <div class="preview">
        <div class="overImg" />
        <div class="data">
            <div class="title" />
            <div class="prog-progress" />
            <div class="description" />
            <div class="button-holder">
                <div class="watch-now" />
            </div>
        </div>
    </div>
    <div class="metro">
        <div class="movies-holder">
            <div class="rotate"><span class="text-rotate">MOVIES</span></div>
            <div class="movies" data-extend-rows="false" data-stop-discovery="down" />
        </div>
        <div class="channels-holder">
            <div class="rotate"><span class="text-rotate">CHANNELS</span></div>
            <div class="channels" data-extend-rows="false" data-stop-discovery="down" />
        </div>
    </div>
	<div class="news-holder">
		<div class="metro-news-title" data-token="News"/>
		<div class="metro-news-date" />
		<div class="metro-news-image"><div /></div>
		<div class="metro-news-text"><div /></div>
	</div>	
</div>