<div class="content full vodbrowse youtube">
    <div class="rotate" />
    <div class="rotate" />
    <div class="rotate" />
	<div class="left">
        <div class="bgImg" />
        <div class="preview">
            <div class="title" />
            <div class="description" />
            <div class="button-holder">
                <div class="watch-now" data-fn="ask"/>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="sub-menu-holder">
            <div class="sub-menu" />
        </div>
        <section class="yt">
            <div class="clips-1 clips" data-fn="selectItem"/>
            <div class="clips-2 clips" data-fn="selectItem"/>
	   </section>
    </div>  
</div>