<div class="content settings">
    <div class="left-side">
        <section class="settings-menu-holder">
            <div class="settings-menu"></div>
        </section>
    </div>
    <div class="rotate rotate-1"></div>
    <div class="rotate rotate-2"></div>
    <div class="right-side">
        <div class="settings-header row-fluid">
            <p class="title" />
            <p class="description" data-token="Information about your device and system" />
        </div>
        <section class="settings-panel-holder">
            <div class="settings-panel">
                <div class="settings-content">
                    <div class="settings-zone"></div>
                </div>
            </div>
        </section>
    </div>
</div>