<div class="content settings support">
    <div class="left-side">
        <section class="settings-menu-holder">
            <div class="settings-menu"></div>
        </section>
    </div>
    <div class="rotate rotate-1"></div>
    <div class="rotate rotate-2"></div>
    <div class="right-side">
        <div class="settings-header row-fluid">
				<p class="title" data-token="General settings" />
				<p class="description" data-token="Select your preference for each item" />
        </div>
        <section class="settings-panel-holder">
            <div class="settings-panel">
				<div class="settings-zone"></div>
            </div>
        </section>
    </div>
</div>