<div class="content settings support">
    <div class="left-side">
        <section class="settings-menu-holder">
            <div class="settings-menu"></div>
        </section>
    </div>
    <div class="rotate rotate-1"></div>
    <div class="rotate rotate-2"></div>
    <div class="right-side">
        <div class="settings-header row-fluid">
				<p class="title" />
				<p class="description" data-token="Support" />
        </div>
        <section class="settings-panel-holder">
            <div class="settings-panel">
                <div class="settings-content">
                    <div class="qr"></div>
                    <div class="right">
                        <div class="settings-zone"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>