<div class="content settings screensaver current">
    <div class="left-side">
        <section class="settings-menu-holder">
            <div class="settings-menu"></div>
        </section>
    </div>
    <div class="rotate rotate-1"></div>
    <div class="rotate rotate-2"></div>
    <div class="right-side">
        <div class="settings-header row-fluid">
				<p class="title" data-token="Screen saver settings" />
				<p class="description" data-token="Select your screen saver preferences" />
        </div>
        <section class="settings-panel-holder">
            <div class="settings-panel">
                <div class="currentSetting">
				    <p class="title" data-token="Current setting" />
				    <p class="current-value" />
			     </div>
                <div class="settings-content">
                    <div class="settings-zone"></div>
                </div>
            </div>
        </section>
    </div>
</div>