<div class="content tv">
    <div class="left-side">
        <div class="channel">
            <div class="row-fluid">
                <div class=" logo"><img /></div>
                <div class="data">
                    <div class="date-time"><span class="date"></span>&nbsp;<span class="time"></span></div>
                    <div class="name" />
                    <div class="prog-progress" />
                    <div class="description" />
                    <div class="button-holder">
                        <div class="watch-now" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle"><div>CHANNELS</div></div>
    <div class="right-side">
        <div class="header">
            <div class="category-menu" />
        </div>
        <div class="channels-list-holder">
        	<div class="channels" data-fn="selectWatch" data-fn-select="setChannelInfo" />
        </div>
    </div>
</div>