<div class="content home homeEx">
    <div class="movies-holder-tv">
		<div class="vod-movies" />
	</div>
    <div class="series-holder-tv">
		<div class="vod-series" />
	</div>
		<div class="news">
			<div class="metro-news-date" />
			<div class="metro-news-text"><div /></div>
		</div>
	<div class="ad-zone az1" data-type="horizontal" data-zone="border"><div class="ad-placeholder" /></div>

</div><!--

--><div class="ad-zone az2" data-type="vertical" data-zone="border"><div class="ad-placeholder" /></div>