<div class="content home">
	
	<div class="movies-metro">
		<div class="movies" />
	</div>
	<div class="holder">
		<div class="channels-metro">
		   <div class="channels" data-fn-select="channelPreview" />
		</div>
		<div class="news">
			<div class="metro-news-date" />
			<div class="metro-news-text"><div /></div>
		</div>
	</div>
	<div class="ad-zone az1" data-type="horizontal" data-zone="border"><div class="ad-placeholder" /></div>

</div>

<div class="ad-zone az2" data-type="vertical" data-zone="border"><div class="ad-placeholder" /></div>