<section class="detail series">
	<div class="detail-overlay">
		<div class="detail-header">
			<div class="title" />
			<div class="rating" />
		</div>

		<div class="row-fluid">
			<div class="span7 vod-data">
				<div class="description" />
				<div class="data">
					<p class="language" />
					<p class="duration" />
					<p class="year" />
					<p class="tags" />
				</div>
			</div>
			<div class="span5 episodes">
				<div class="playlist no-shadow" />
			</div>
		</div>
		<div style="padding: 0px 40px">
			<h1 data-token="Actors" />
			<div class="actors" />
		</div>
        <div class="sub-menu-holder">
            <div class="sub-menu no-shadow" />
        </div>
	</div>

</section>