<section class="settings-panel-holder">
	<div class="settings-panel">
		<div class="settings-header row-fluid">
			<div class="span6">
				<p class="title" data-token="Catchup TV settings" />
				<p class="description" data-token="Select your Catchup TV offset preferences" />
			</div>
			<div class="span6">
				<p class="title" data-token="Current setting" />
				<p class="current-value" />
			</div>
		</div>
		<div class="settings-content">
			<div class="settings-panel">
				<div class="settings-zone no-shadow"></div>
			</div>
		</div>
	</div>
</section>

<section class="settings-menu-holder">
	<div class="settings-menu"></div>
</section>