<section class="content full">
	<section class="epg">

		<section class="day-controls-holder"  data-nav="false">
			<div class="epg-date" />
			<div class="day-controls" />
		</section>
		
		<section class="header">
			<div class="date" data-token="" />
			<div class="hours" ><div class="hour-scroller"></div></div>
		</section>
		<section class="rows">
			<div class="channels"><div class="channel-scroller"></div></div>
			<div class="programmes">
				<div class="epgh" data-scroll-into-view="true" />
			</div>
		</section>
	</section>
	
</section>