<div class="header closed movement-transition">
	<div class="header-left">
		<img class='app-logo' />
	</div>
	<div class="header-right">
		<div class="time" />
		<div class="date" />
		<div class="storage" />
		<div class="weather">
			<div>
				<div class="icon" />
				<p class="city" />
				<p class="degree" />
			</div>
		</div>
		<div class="user-account bg-border" />
	</div>
	<div class="mobile-handle"><span class="ico ico-keyboard-arrow-down"></span></div>
</div>

<div class="main" />

<div class="footer">
	<div class="main-menu" />
</div>
