<section class="content full vod">
	
	<div id="player" />
	<div class="player-holder" data-fn="infoBarShow" />
	
	<div class="player-control movement-transition">
		<div class="movie-header row-fluid">
			<div class="span12">
				<span class="title" /><span class="duration" />
			</div>
		</div>	
		<div class="progress-holder">
            <span class="duration" />
            <div class="progress"><div class="bar" /></div>
            <span class="remaining" />
        </div>
		<div class="sub-menu-holder">
			<div class="sub-menu" />
		</div>
	</div>
	
	<div class="ads-overlay" />
	<div class="ads-ticker" />
	<div class="ads-timer"><span /><span class="timer" /></div>
</section>