<div id="player" />

<div class="content full albumInfo">

	<div class="row-fluid album">
		<div class="detail">
			
			<div class="row-fluid text">
				<div class="span5 text-right"><img /></div>
				<div class="span7">
					<div class="row-fluid">
						<div class="span12 name" />
					</div>

					<div class="row-fluid">
						<div class="span12 artist" />
					</div>

					<div class="row-fluid">
						<div class="span12 description" />
					</div>
				</div>
			</div>

		</div>
		<div class="play">
            <div class="playlist-holder">
                <div class="playlist timer" />
            </div>
		</div>
        <div class="sub-menu-holder-player">
            <div class="sub-menu-player" />
        </div>	
	</div>

</div>