<section class="content full epghP">
	<section class="epg">
		<section class="header">
            <div class="date-controls">
                <div class="ctrl">
                 <div class="control">
                        <span class="circle blue" />
                        <span class="epg-control" data-fn="keyBlue" data-token="-24 hrs" />
                        <span class="circle green" />
                        <span class="epg-control" data-fn="keyGreen" data-token="+24 hrs" />
                    </div>
                </div>
            </div>
            <div class="date" />
			<div class="hours"><div class="hour-scroller" /></div>
		</section>
		<section class="rows">
			<div class="channels"><div class="channel-scroller" /></div><!--
		 --><div class="programmes">
				<div class="epgh" data-scroll-into-view="true" data-fn="previewShow" />
			</div>
		</section>
	</section>
</section>