<section class="content full epgv">
	<section class="gv-left">
		<div class="row-fluid">
            <div class="span6 date" /><!--
		 --><div class="span6 control">
				<span class="circle blue" />
				<span class="epg-control" data-fn="keyBlue" data-token="-24 hrs" />
				<span class="circle green" />
				<span class="epg-control" data-fn="keyGreen" data-token="+24 hrs" />
			</div>
		</div>
		<div class="programmes" data-fn-select="loadProgramme" />
	</section>
	
	<section class="gv-right">
		<div class="logo" />
		<div class="data">
			<div class="name" />
			<div class="date" />
			<div class="time" />
		</div>
        <div class="prog-img"></div>
		<div class="progress"><div class="bar" /></div>
		<div class="title" />
		<div class="description" />
	</section>
	
	<section class="gv-list">
		<div class="channels-epg" data-fn="loadProgrammes" />
	</section>
</section>