<div class="move-left">
    <div class="arrow-left" />
</div>
<div class="content home">
    <div class="preview">
        <div class="img-holder">
        </div>
        <div class="info">
            <div class="logo" />
            <div class="title" />
            <div class="date" />
            <div class="prog-progress" />
            <div class="description" />
            <div class="button-holder">
                <div class="watch-button" />
            </div>
        </div>
    </div>
    <div class="metro">
        <div class="metro-data" />
    </div>
	<div class="news-holder">
        <div class="metro-news-title" data-token="News"/>
        <div class="metro-news-image" />
		<div class="metro-news-date" />
		<div class="metro-news-text"><div /></div>
	</div>
</div>
<div class="move-right">
    <div class="arrow-right" />
</div>