<section class="content full vod player">
	
	<div id="player" />
	<div class="player-holder" data-fn="selectPopup" data-nav="false" />

	<div class="player-control movement-transition">
        <div class="sub-info-channel">
            <div class="movie-header row-fluid">
                <div class="img">
                   <img />
                </div>
                <div class="text-right">
                    <span class="title" />
                    <div class="length" />
                    
			<div class="row-fluid controls">
				<div class="report" style="display: inline-block">
					<span class="circle blue" />
					<span data-token="Report a Problem" />
				</div>
				<div class="share" style="display: inline-block; margin-left: 20px;">
					<span class="circle green" />
					<span data-token="Share" />
				</div>
			</div>
                </div>
            </div>
            <div class="progress-holder">
                <div class="progress"><div class="bar" /></div>
                <span class="duration" />
                
                <span class="remaining" />
            </div>
            <div class="sub-menu-holder-player">
                <div class="sub-menu-player" />
            </div>
        </div>
	</div>
		
	<div class="ads-overlay" />
	<div class="ads-ticker" />
	<div class="ads-timer"><span /><span class="timer" /></div>
</section>