<section class="settings-panel-holder">
	<div class="settings-panel">
		<div class="settings-header row-fluid">
			<div class="span12">
				<p class="title" data-token="Catchup TV settings" />
				<p class="description" data-token="Select your Catchup TV offset preferences" />
			</div>
		</div>
        <div class="settings-panel row-fluid">
            <div class="span3">
                <p class="title" data-token="Current setting" />
                <p class="current-value" />
            </div>
            <div class="span9">
                <div class="settings-zone"></div>
            </div>
        </div>
	</div>
</section>