<div class="move-left">
    <div class="arrow-left" />
</div>
<div class="content tv">
    <div class="channel">
        <div class="img-holder">
            <img />
        </div>
        <div class="channel-info">
            <div class="logo" />
            <div class="title" />
            <div class="date" />
            <div class="prog-progress" />
            <div class="description" />
            <div class="button-holder">
                <div class="watch-button" />
            </div>
        </div>
	</div>
    
    <div class="channels">
        <div class="channels-list" />
    </div>
</div>
<div class="move-right">
    <div class="arrow-right" />
</div>