<div class="header closed movement-transition">
	<div class="header-left">
		<img class='app-logo' />
	</div>
	<div class="header-right">
		<div class="time" />
		<div class="weather">
			<div>
				<p class="city" />
				<p class="degree" />
			</div>
			<div class="icon" />
		</div>
		<div class="storage" />
		<div class="balance" />
		<div class="user-account bg-border" />
        <div class="logout" />
	</div>
	<div class="mobile-handle"><span class="ico ico-keyboard-arrow-down"></span></div>
</div>

<div class="main" />

<div class="footer">
    <div class="main-menu-holder">
        <div class="main-menu" data-stop-discovery="right" />
    </div>
	<div class="sub-menu-holder">
        <div class="sub-menu" />
    </div>
</div>