<div class="move-left">
    <div class="arrow-left" />
</div>
<section class="content full vod">
        <div class="info-1">
            <div class="poster">
                <img />
                <div class="poster-overlay">
                    <div class="poster-duration" />
                </div>
            </div>
            <div class="info-1-sub">
                <div class="title" />
                <div class="rating" />
                <div class="description" />
                <div class="sub-menu-holder vod-menu">
                    <div class="sub-menu" />
                </div>	
            </div>
        </div>
        <div class="info-2">
            <div class="backdrop" data-fn-select="moveContent"/>
            <div class="info-2-sub">
                <div data-token="More Information" />
                <div class="row-fluid">
                    <div class="span3" data-token="Language" />
                    <div class="span9 language" />
                </div>
                <div class="row-fluid">
                    <div class="span3" data-token="Duration" />
                    <div class="span9 duration" />
                </div>
                <div class="row-fluid">
                    <div class="span3" data-token="Year" />
                    <div class="span9 year" />
                </div>
                <div class="row-fluid">
                    <div class="span3" data-token="Director" />
                    <div class="span9 director" />
                </div>
                <div class="row-fluid">
                    <div class="span3" data-token="Producer" />
                    <div class="span9 producer" />
                </div>
                <div class="row-fluid">
                    <div class="span3" data-token="Actors" />
                    <div class="span9 actors" />
                </div>
                <div class="row-fluid">
                    <div class="span3" data-token="Tags" />
                    <div class="span9 tags" />
                </div>
            </div>
        </div>
</section>
<div class="move-right">
    <div class="arrow-right" />
</div>