<section class="tv full">
	
	<div id="player" />
	<div class="player-holder" data-fn="selectPopup" data-nav="false" />

	<section class="info">
		<div class="panel panel-middle movement-transition">
			<div class="row-fluid">

			<div class="row-fluid">
                <div class="span2"> <div class="playtime"/></div>
                
				<div class="span10">
					<div class="timebar">
						<div class="tick" />
						<div class="tick" />
						<div class="tick" />
						<div class="tick" />
						<div class="tick" />
						<div class="tick" />
						<div class="tick" />
						<div class="line" />
						<div class="cursor" />
					</div>
				</div>
			</div>
			<div class="sub-menu-holder">
				<div class="sub-menu center-600" />
			</div>
				<div class="span2 logo">
					<img />
				</div>
				<div class="span8">
					<div class="title" />
					<div class="description" />
				</div>
			</div>
		</div>
	</section>
	
</section>