<div class="series-detail-top">
     <div class="series-title">
        <div class='s-title' />
    </div>
    
	<div class="sub-menu-holder rounded">
		<div class="sub-menu" />
	</div>
    
    <div class="details">
		<div class="span9 year" />
		<div class="span9 duration" />
	</div>
</div>




<section class="vod">
	<section class="detail serie">
        <div class="overlay">

        </div>
        <div class="row-fluid">
            <div class="span5 episodes">
                <div class="playlist timer vertical" />
            </div>
        </div>
	</section>

	<section class="series_detail">
		<div class="row-fluid vod-details">
				<div class="span5">
					<div class="description-title" data-token="Description" />
					<div class="description" />
				</div>
				<div class="span3">
					<div class="staring-title" data-token="Staring" />
					<div class="staring" />
				</div>
				<div class="span3">
					<div class="genre-title" data-token="Tags" />
					<div class="tags" />
				</div>
		</div>
	</section>
</section>
