 <div class="header closed movement-transition">
	<div class="header-left">
		<img class='app-logo' />
	 </div>
	<div class="header-middle">
		<div class="clock" />
	</div>
	<div class="header-right">
		<div class="user-account bg-border" />
		<div class="storage" />
		<div class="calendar" />
		<div class="logout" />
	</div>
	<div class="mobile-handle"><span class="ico ico-keyboard-arrow-down"></span></div>
</div>
		
<div class="main-menu-holder">
	<div class="main-menu" />
</div>
<div class="main" />
<div class="footer" />