
<div class="voddetail-top">
    <div class="movie-title">
        <div class='m-title' />
    </div>
	<div class="sub-menu-holder rounded">
		<div class="sub-menu" />
	</div>
	<div class="details">
		<div class="span9 year" />
		<div class="span9 duration" />
	</div>
</div>


<section class="content full vod">

	<section class="detail">

	</section>
	<div class="row-fluid vod-details">
			<div class="span4">
				<div class="description-title" data-token="Description" />
				<div class="description" />
			</div>
			<div class="span3">
				<div class="staring-title" data-token="Staring" />
				<div class="staring" />
			</div>
			<div class="span2">
				<div class="directed-title" data-token="Directed by" />
				<div class="directed" />
			</div>
			<div class="span2">
				<div class="genre-title" data-token="Tags" />
				<div class="tags" />
			</div>
	</div>
</section>
