<section class="content full vod">
	
	<div id="player" />
	<div class="player-holder" data-fn="infoBarShow" data-nav="false" />
	
	<div class="player-control movement-transition">
        
        <div class="progress-holder">
            <div class="duration"/>
            <div class="progress"><div class="bar" /></div>
            <div class="remaining"/>
        </div>
        <div class="movie-header row-fluid">
			<div class="span6">
				<span class="movie-title" />
			</div>
			<div class="span6" />
		</div>	
		<div class="sub-menu-holder">
			<div class="sub-menu" />
		</div>


	</div>

</section>