<section class="content full">
	<section class="epg">
		<section class="header">
			<div class="date"/>
			<div class="hours"><div class="hour-scroller" /></div>
		</section>
		<section class="rows">
			<div class="channels"><div class="channel-scroller" /></div><!--
		 --><div class="programmes">
				<div class="epgh" data-fn-select="setPreview" />
			</div>
		</section>
	</section>
	
	<div class="channel">
		<div class="logo" />
		<div class="data">
			<div class="title" />
			<div class="date" />
		</div>
		<div class="description" />
        <div class="button-control">
                <span class="circle blue" />
				<span class="epg-control" data-fn="keyBlue" data-token="-24 hrs" />
				<span class="circle green" />
				<span class="epg-control" data-fn="keyGreen" data-token="+24 hrs" />
        </div>
	</div>
</section>