<section class="content full">	
	<section class="gv-list">
        <div class='date-control'>
            <div class="date" />
            <div class="button-control">
                <span class="circle blue" />
                <span class="epg-control" data-fn="keyBlue" data-token="-24 hrs" />
                <span class="circle green" />
                <span class="epg-control" data-fn="keyGreen" data-token="+24 hrs" />
            </div>
        </div>
        
		<div class="channels" data-fn="loadProgrammes" />
	</section><!--
	
 --><section class="gv-left">
        
        <div class="programmes" data-fn-select="loadProgramme" />
	</section>

	<div class="channel">
		<div class="logo" />
		<div class="data">
			<div class="title" />
			<div class="play-date" />
		</div>
		<div class="description" />

	</div>
</section>