<div class="content home">
	<div class="movies-holder row-block row-selected">
		<div class="row-label">movies</div>
		<div class="row-content">
			<div class="movies" data-fn-select="preview" />
		</div>
	</div>
	
	<div class="channels-holder row-block">
		<div class="row-label">channels</div>
		<div class="row-content">
			<div class="channels" data-fn-select="preview" />
		</div>
	</div>
	
	<div class="news-holder row-block">
		<div class="row-label">news</div>
		<div class="row-content">
			<div class="metro-news-date" />
			<div class="news" data-fn-select="preview" />
		</div>
	</div>	
	
	<div class="series-holder row-block">
		<div class="row-label">series</div>
		<div class="row-content">
			<div class="series" data-fn-select="preview" />
		</div>
	</div>
</div>