<section class="settings-menu-holder">
	<div class="settings-menu"></div>
</section>

<div class="settings-header row-fluid">
	<div class="span6">
		<p class="title" data-token="Screen saver settings" />
		<p class="description" data-token="Select your screen saver preferences" />
	</div>
	<div class="span6">
		<p class="title" data-token="Current setting" />
		<p class="current-value" />
	</div>
</div>

<section class="settings-panel-holder">
	<div class="settings-panel">
		<div class="settings-content">
			<div class="settings-panel">
				<div class="settings-zone"></div>
			</div>
		</div>
	</div>
</section>