<div id="home-player" />

<div class="hero">
	<div class="header closed movement-transition">
        <div class="header-left">
            <img class="app-logo" />
        </div>
		<div class="header-right">
			<div class="time" />
			<div class="weather">
				<div>
					<p class="city" />
					<p class="degree" />
				</div>
				<div class="icon" />
			</div>
			<div class="storage" />
			<div class="balance" />
			<div class="user-account bg-border" />
		</div>
		<div class="mobile-handle"><span class="ico ico-keyboard-arrow-down"></span></div>
	</div>
	<div class="content" />

	<div class="footer">
		<div class="main-menu" />
	</div>
</div>

<div class="main" />