<div class="home">

	<div class="home-middle">
		
		<div class="metro-holder nav">
			<div class="prev" data-fn="scrollHero" data-param="true"><div class="arrow-left" /></div>
			<div class="metro normal" data-extend-rows="false" />
			<div class="next" data-fn="scrollHero" data-param=""><div class="arrow-right" /></div>
		</div>
		<div class="news-holder">
			<div class="image" />
			<div class="date" />
			<div class="text" />
		</div>
		
	</div>

	<div class="channel-holder">
		<div class="channels" />
	</div>
	
</div>