<section class="detail series">
	<div class="detail-overlay">
	

		<div class="row-fluid movie-detail">
			<div class="span7 ">
				<div class="detail-header">
					<div class="title" />
					<div class="rating" />
				</div>
				<div class="description" />
				<div class="vod-info">
					<div data-token="Language" />
					<p class="language info-color" />
				</div>
				<div class="vod-info">
					<div data-token="Duration" />
					<div>
						<p class="duration info-color" />
					</div>
				</div>
				<div class="vod-info">
					<div data-token="Year" />
					<div>
						<p class="year info-color" />
					</div>
				</div>
				<div class="vod-info">
					<div data-token="Director" />
					<div>
						<p class="director info-color" />
					</div>
				</div>
				<div class="vod-info">
					<div data-token="Producer"/>
					<div>
						<p class="producer info-color"/>
					</div>
				</div>
				<div class="vod-info">
					<div data-token="Actors"/>
					<div>
						<p class="actors info-color" />
					</div>
				</div>
				<div class="vod-info">
					<div data-token="Tags" />
					<div>
						<p class="tags info-color" />
					</div>
				</div>
			</div>
			<div class="span5 episodes">
				<div class="playlist normal vertical" data-extend-rows="false"/>
			</div>	
		</div>

			<div class="sub-menu-holder">
				<div class="sub-menu normal" />
			</div>
		</div>

	</div>
</section>