<div class="header closed movement-transition">
	<div class="left">
		<img class='app-logo' />
	</div>
	<div class="right">
		<div class="location">
			<div class="city" />
			<div class="country" />
		</div>
		<div class="time" />
		<div class="divider" />
		<div class="icon" />
		<div class="degree" />
		<div class="divider" />
		<div class="storage" />
		<div class="divider" />
		<div class="balance" />
		<div class="user-account bg-border" />
	</div>
	<div class="mobile-handle"><span class="ico ico-keyboard-arrow-down"></span></div>
</div>

<div class="main" />

<div class="footer">
	<div class="main-menu normal" />
</div>