<div class="tv full">
	
	<div id="player" />
	<div class="player-holder" data-fn="selectPopup" data-nav="false" />

	<div class="info youtube-info">
		<div class="panel panel-middle">
            <div class="progress-holder">
                <span class="duration" />
                <div class="progress"><div class="bar" /></div>
                <span class="remaining" />
            </div>
			<div class="movie-header">
				<div class="title" />
				<div class="description" />
			</div>
			<div class="sub-menu-holder">
				<div class="sub-menu center-400 normal" />
			</div>
		</div>
	</div>
	
</div>