html {
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

.ui {
    background-color: rgba(21, 26, 33, 0.9)
}

.header {
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    color: #7d858e
}

.header * {
    display: flex;
    align-items: center;
    align-content: flex-end;
    height: 100%;
    margin: 0px
}

.header .arrow-left, .header .arrow-right {
    margin-top: -20px
}

.header .left {
    width: 30%
}

.header .left img {
    width: auto;
    height: 50px;
    margin-left: 20px
}

.header .right {
    width: 70%;
    justify-content: flex-end
}

.header .right div {
    font-size: 30px;
    margin-right: 40px
}

.header .right .ico {
    margin-right: 10px
}

.header .balance p:first-child {
    margin-right: 10px
}

.header .right .storage {
    display: inline-block
}

.header .right .storage .label {
    display: block;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin-right: 0px
}

.header .right .storage .text {
    display: block;
    height: 30px;
    margin-right: 0px
}

.header .right .storage .progress {
    display: block;
    height: 4px;
    margin-right: 0px
}

.main {
    height: calc(100% - 100px);
    width: calc(100% - 310px);
    display: inline-block;
    vertical-align: top
}

.footer {
    width: 290px;
    height: calc(100% - 100px);
    background-image: -webkit-linear-gradient(top, rgba(29, 35, 40, 0) 0%, rgba(29, 35, 40, 0.8) 150%);
    display: inline-block;
    vertical-align: top;
    padding: 0px 20px 0px 0px;
    margin-right: 20px
}

.main-menu.hot-zone .scroller .item {
    line-height: 60px;
    text-align: end;
    padding-right: 20px;
    text-transform: uppercase
}

.home {
    height: 100%
}

.home .movies-holder {
    height: calc(53.3333% - 20px);
    margin-bottom: 20px
}

.movies.hot-zone .scroller .item {
    margin-right: 20px;
    background-position: 50% 50%;
    background-size: cover
}

.movies.hot-zone .scroller .item .overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, transparent 0%, #000 100%)
}

.movies.hot-zone .scroller .item .title {
    position: absolute;
    bottom: 70px;
    left: 20px;
    right: 20px
}

.movies.hot-zone .scroller .item .description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    line-height: 20px;
    height: 40px;
    white-space: normal;
    overflow: hidden;
    font-size: 16px;
    color: #e0e0e0
}

.home .series-holder {
    height: calc(26.6666% - 20px);
    margin-bottom: 20px
}

.series.hot-zone .scroller .item {
    margin-right: 20px
}

.home .channels-holder {
    height: calc(20% - 10px);
    margin-bottom: 10px
}

.nav .next, .nav .prev, .vert-nav .vert-next, .vert-nav .vert-prev {
    background-color: transparent
}

.arrow-left:before, .arrow-left:after, .arrow-right:before, .arrow-right:after, .arrow-up:before, .arrow-up:after, .arrow-down:before, .arrow-down:after {
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff
}

.stb .recordings-holder {
    height: 560px
}

.yt {
    height: calc(100% - 80px)
}

.yt .clips {
    width: 100%;
    height: 100%
}

.yt .clips.hot-zone[data-type="grid"] .scroller .row {
    margin-bottom: 1px;
    height: calc(25% - 1px)
}

.yt .clips.hot-zone .scroller .item {
    padding: 10px
}

.yt .image-holder {
    display: inline-block;
    vertical-align: top;
    width: 25.5%;
    height: calc(100% - 2px);
    margin-top: 1px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat
}

.yt .item .content {
    display: inline-block;
    vertical-align: top;
    width: 74.5%;
    height: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 18px;
    margin: 0px
}

.yt .item .content .title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis
}

.yt .item .content .description {
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    white-space: normal;
    margin-top: 10px;
    font-size: 14px;
    color: #a0a0a0
}

.stats {
    color: #a0a0a0;
    text-align: center;
    margin-top: 15px
}

.stats .progress {
    width: 300px;
    margin: 5px auto 0px auto
}

.stats .progress .bar {
    height: 4px
}

.info.youtube-info {
    height: 300px
}

.info.youtube-info .panel .row-fluid:first-child {
    height: auto
}

.youtube-info .logo img {
    max-width: 90%;
    max-height: 150px
}

.youtube-info .span9 > .description {
    height: 100px
}

.settings-header {
    background-color: transparent;
    border-bottom: none;
    padding: 0px 0px 10px 0px
}

.settings-header p {
    margin: 0px;
    color: #a0a0a0;
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    line-height: 26px
}

.settings-header p:first-child {
    font-size: 22px;
    color: #ffffff;
    line-height: 30px;
    margin-right: 10px
}

.settings-panel-holder {
    background-color: rgba(21, 26, 33, 0.25);
    box-shadow: inset 20px 0px 20px -10px rgba(0, 0, 0, 0.5);
    padding: 20px 5px;
    width: calc(100% - 290px);
    height: calc(100% - 80px);
    display: inline-block;
    vertical-align: top
}

.stb .settings-panel-holder {
    width: calc(100% - 250px);
    box-sizing: border-box
}

.stb .settings-panel-holder .settings-content {
    height: 100%
}

.stb .settings-content .right .settings-zone.hot-zone .scroller .row .item .label {
    width: 30%;
    box-sizing: border-box
}

.stb .settings-content .right .settings-zone.hot-zone .scroller .row .item .value {
    width: 70%;
    box-sizing: border-box
}

.settings-panel {
    background-color: transparent
}

.settings-content {
    height: calc(100% - 40px);
    padding: 20px 0px
}

.settings-content .right .settings-zone.hot-zone .scroller .row .item .value, .settings-content .right .settings-zone.hot-zone .scroller .row .item .label {
    box-sizing: content-box
}

.settings-content .right {
    width: calc(100% - 128px);
    padding: 0px 30px 0px 10px;
    box-sizing: border-box
}

.settings-zone.hot-zone {
    margin: 0px auto;
    width: 90%
}

.settings-menu-holder {
    width: 250px;
    height: calc(100% - 40px);
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(21, 26, 33, 0) 0%, #151a21 100%)
}

.settings-menu .scroller .row {
    width: 100% !important
}

.settings-menu .scroller .row .item {
    box-sizing: border-box
}

.settings-menu .item {
    text-align: center;
    padding: 0px;
    padding-left: 20px
}

.settings-content.speed-test .st-label {
    width: 100%
}

.stb .settings-zone.hot-zone .scroller .row input.item {
    width: calc(100% - 40px)
}

.store {
    height: calc(100% - 80px);
    position: relative
}

.web .store, .mobile .store {
    overflow-y: auto
}

.store .row-block {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 265px
}

.store .row-block .row-label {
    padding: 0px 0px 10px 0px;
    line-height: 20px;
    font-size: 20px
}

.store .row-block .row-content {
    height: calc(100% - 30px)
}

.store .movies.hot-zone .scroller .item {
    margin: 0px 20px 0px 0px
}

.store .movies.hot-zone .scroller .item img {
    height: 100%
}

.vod {
    padding: 20px;
    height: 100%
}

.vod-sub {
    padding: 20px;
    height: calc(100% - 80px)
}

.stores-holder.vert-nav {
    width: 100%;
    height: calc(100% - 80px)
}

.stb .stores-holder.vert-nav {
    width: 100%;
    height: 400px
}

.vod .vert-nav, .vod-sub .vert-nav {
    height: 100%
}

.stores.hot-zone[data-type="grid"] .scroller .row {
    height: 100px;
    margin-bottom: 10px
}

.stores.hot-zone[data-type="grid"] .scroller .row .item {
    display: inline-block;
    margin-right: 10px
}

.stores.hot-zone[data-type="grid"] .scroller .row .item img {
    max-width: 100%;
    min-width: 100%
}

.vod.full {
    padding: 0px
}

.vod-data {
    overflow: auto !important
}

.detail {
    height: 100%;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}

.series.detail .row-fluid {
    height: calc(100% - 291px)
}

.series .episodes {
    height: 100%
}

.series .playlist.hot-zone .scroller .item {
    line-height: 45px;
    padding-left: 20px
}

.detail .title {
    margin: 10px 0px;
    font-size: 28px
}

.detail .rating {
    font-size: 24px;
    color: #e9c743
}

.detail .rating .numbers {
    color: #a0a0a0;
    margin-left: 10px;
    font-size: 20px
}

.detail .description {
    line-height: 20px;
    max-height: 120px;
    margin: 20px 0px 20px 0px;
    white-space: normal;
    overflow: hidden
}

.detail .data {
    white-space: normal
}

.detail .data p {
    display: inline-block;
    margin: 0px 10px 0px 0px;
    padding: 0px 10px 0px 0px;
    line-height: 20px;
    border-right: 1px solid #ffffff
}

.detail .data p:last-child {
    border: none;
    margin-right: 0px;
    padding-right: 0px
}

.album {
    height: calc(100% - 80px)
}

.album > .span6 {
    height: 100%
}

.album .vert-nav {
    height: calc(100% - 80px)
}

.album .data img {
    margin: 20px auto
}

.album .row-fluid {
    height: 100%;
    margin: 0px
}

.album .span8 {
    height: 100%
}

.album .playlist .span1 {
    text-align: end;
    color: #a0a0a0
}

.album .playlist .span9 {
    padding: 0px 0px 0px 20px;
    color: #e0e0e0;
    text-align: left
}

.album .playlist .span9 .ico {
    margin-right: 10px
}

.album .playlist .span2.time {
    padding: 0px 20px;
    color: #e0e0e0;
    text-align: end
}

.album .playlist .item .progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    margin: 0px auto
}

.album .playlist .item.active .progress {
    background-color: #d63f2f
}

.album .playlist .item.active .progress .bar {
    background-color: #ffffff
}

.album .playlist .item {
    line-height: 45px;
    position: relative;
    color: #a0a0a0
}

.album .playlist .item.active div[class^="span"] {
    color: #ffffff
}

.album #player {
    position: absolute;
    top: -100px;
    left: 0px
}

.tv {
    margin: 0px 0px;
    height: 100%;
    position: relative
}

.tv.full {
    margin: 0px
}

.tv .header {
    position: static;
    height: 60px;
    padding: 0px;
    opacity: 1;
    color: #ffffff;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.3)
}

.tv .category-menu {
    height: 100%
}

.tv .category-menu .scroller .item {
    padding: 0px 40px;
    line-height: 60px
}

.tv .vert-nav {
    height: calc(100% - 190px);
    padding: 20px 0px 0px 0px
}

.mobile .tv .vert-nav {
    height: calc(100% - 60px);
    padding: 20px 0px 0px 0px
}

.tv.apps .vert-nav {
    height: calc(100% - 220px)
}

.channels.tile.apps .scroller .row .item {
    height: 100px;
    width: 100px
}

.channels.tile.apps .scroller .row .item img {
    height: 100%;
    margin: 0px auto
}

.tv .channels {
    height: 100%;
    width: 100%
}

.tv .channels.tile .scroller .row {
    height: 100px;
    margin-bottom: 10px
}

.tv .channels.tile.hot-zone[data-type="grid"] .scroller .row .item {
    padding: 5px
}

.tv .channels.tile .scroller .row .item img {
    max-height: 90px
}

.tv .channels.list .scroller .row {
    height: 50px;
    margin-bottom: 10px
}

.tv .channels .scroller .row .item {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 0px 10px 0px 0px;
    vertical-align: top;
    line-height: 50px
}

.tv .channels .scroller .row .item img {
    height: 100%;
    margin: 0px auto
}

.tv .channels.list .scroller .row .item {
    text-align: left;
    width: auto;
    height: auto
}

.tv .channels.list .scroller .row .item span {
    display: inline-block;
    vertical-align: middle
}

.tv .channels.list .scroller .row .item span:nth-child(1) {
    margin: 0px 10px;
    width: 50px;
    color: #a0a0a0
}

.tv .channels.list .scroller .row .item.active span:nth-child(1) {
    color: #ffffff
}

.tv .channels.list .scroller .row .item span:nth-child(2) {
    width: 50px
}

.tv .channels.list .scroller .row .item span:nth-child(3) {
    width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.tv .channels.list .scroller .row .item span img {
    max-height: 40px
}

.tv .channel {
    background-color: rgba(192, 163, 192, 0.6);
    height: 130px;
    padding: 20px;
    line-height: 30px
}

.tv .channel .logo, .tv .channel .data, .tv .channel .preview-player-holder {
    display: inline-block;
    vertical-align: top;
    height: 100%
}

.tv .channel .logo {
    width: 140px;
    text-align: center
}

.tv .channel .logo img {
    max-height: 80%
}

.tv .channel .data {
    width: calc(100% - 300px)
}

.tv .channel .data .name {
    color: #ffffff
}

.tv .channel .data .category {
    color: #bcbcbc
}

.tv .channel .data .info-text {
    color: #e74c3c;
    display: none
}

.tv .channel .preview-player-holder {
    width: 160px
}

.mobile .tv .channel {
    display: none
}

.player-holder {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1
}

.channel-list {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 20;
    height: 280px;
    width: 100%
}

.cat-holder.nav {
    height: 80px;
    margin: 0px 40px 40px 40px;
    padding: 10px
}

.cat-holder .categories .scroller .item {
    line-height: 60px;
    margin-right: 10px;
    padding: 0px 20px
}

.qwert.nav {
    height: 125px;
    margin: 40px 40px 0px 40px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px
}

.qwert .chl .item {
    margin-right: 10px
}

.qwert .chl .item img {
    max-height: 100%
}

.manager-panel {
    width: calc(50% - 40px);
    margin-right: 0px
}

.stb .manager-panel {
    width: calc(50% - 40px);
    height: calc(100% - 110px)
}

.stb .manager-panel .vert-nav {
    height: calc(100% - 57px)
}

.gv-left {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 310px);
    height: calc(100% - 75px);
    background-color: rgba(21, 26, 33, 0.25);
    box-shadow: inset 20px 0px 20px -10px rgba(0, 0, 0, 0.5)
}

.gv-left .vert-nav {
    height: 100%
}

.gv-left .programmes {
    background-color: rgba(21, 26, 33, 0.5)
}

.gv-left .programmes .scroller .item {
    line-height: 45px;
    color: #a0a0a0
}

.gv-left .programmes .scroller .item.active {
    color: #ffffff
}

.gv-left .programmes .span3 {
    padding-left: 40px
}

.gv-left .programmes .span9 {
    text-align: left;
    text-overflow: ellipsis
}

.gv-left .programmes .scroller .item .description {
    display: none;
    white-space: normal;
    padding: 20px;
    overflow: hidden;
    line-height: 20px;
    font-size: 18px;
    color: #e0e0e0
}

.gv-left .programmes .scroller .item .progress {
    display: none;
    margin: 0px
}

.gv-left .programmes .scroller .item .progress .bar {
    background-color: #ffffff
}

.gv-left .programmes .scroller .item.active .description, .gv-left .programmes .scroller .item.active .progress {
    display: block
}

.gv-left .programmes .scroller .item.active .description.progimg {
    height: 100px;
    width: auto
}

.gv-left .programmes .scroller .item.active .description.progimg img {
    height: 100%;
    width: auto
}

.gv-list {
    display: inline-block;
    vertical-align: top;
    height: calc(100% - 75px);
    width: 310px;
    background-image: -webkit-linear-gradient(top, rgba(21, 26, 33, 0) 0%, #151a21 100%)
}

.gv-list .channels.hot-zone .scroller .item {
    line-height: 60px;
    height: 60px;
    display: flex
}

.gv-list .channels.hot-zone .scroller .item img {
    margin-left: 10px;
    max-height: 45px;
    margin-top: 7px
}

.gv-list .channels.hot-zone .scroller .item .number {
    margin: 0px 20px;
    width: 45px;
    overflow: hidden;
    text-overflow: ellipsis
}

.gv-list .channels.hot-zone .scroller .item .name {
    width: calc(100% - 160px);
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis
}

.epg-border {
    height: 5px;
    background-color: #1d232c
}

.epg-controls {
    height: 75px;
    background-color: #151a21;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    line-height: 75px;
    display: flex
}

.epgv.epg-controls {
    background-color: transparent;
    box-shadow: none
}

.epg-controls .control {
    margin-left: 40px
}

.epg-controls .date {
    display: inline-block;
    margin: 0px 40px
}

.epgv.epg-controls .control {
    margin: 0px 40px 0px 0px
}

.epg-controls .control .rect {
    display: inline-block;
    border-radius: 3px;
    margin-right: 15px;
    width: 25px;
    height: 16px
}

.epg-controls .control .ico {
    margin-right: 15px
}

.epg-controls .control .rect.green {
    background-color: #00b05e
}

.epg-controls .control .rect.yellow {
    background-color: #f2c600
}

.epg-controls .control .rect.blue {
    background-color: #217dba
}

.epg-controls .control .rect.red {
    background-color: #f62222
}

.epg {
    height: calc(100% - 80px)
}

.epg .header {
    display: block;
    position: static;
    padding: 0px;
    height: 180px;
    opacity: 1
}

.epg .header .right .preview .epg-time, .epg .header .right .preview .epg-time > span {
    display: inline-block !important
}

.mobile .epg .header .left, .mobile .epg .header .right {
    height: calc(100% - 10px)
}

.epg .header .hours {
    display: block;
    height: 24px;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    margin: 10px 0px 10px 310px
}

.epg .header .hours .hour-scroller {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px
}

.epg .header .hours .half {
    display: inline-block;
    width: 300px;
    text-align: left;
    line-height: 24px;
    border-left: 1px solid #ffffff;
    padding-left: 10px
}

.epg .rows {
    height: calc(100% - 180px)
}

.epg .rows .programmes .epgh {
    height: 100%
}

.epg .rows .channels {
    width: 290px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    background-image: -webkit-linear-gradient(top, rgba(29, 35, 40, 0) 0%, rgba(29, 35, 40, 0.8) 150%)
}

.epg .rows .channels .channel-scroller {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%
}

.epg .rows .channels .ch {
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    margin-bottom: 5px
}

.epg .rows .channels .ch .number {
    line-height: 50px;
    text-align: end;
    vertical-align: top;
    display: inline-block;
    width: 15%;
    color: #7d858e;
    overflow: hidden;
    text-overflow: ellipsis
}

.epg .rows .channels .ch .name {
    line-height: 50px;
    vertical-align: top;
    display: inline-block;
    width: calc(60% - 40px);
    margin: 0px 20px;
    overflow: hidden;
    text-overflow: ellipsis
}

.epg .rows .channels .ch img {
    height: 50px;
    text-align: end;
    vertical-align: top;
    display: inline-block;
    max-width: 25%
}

.epg .rows .programmes {
    width: calc(100% - 310px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative
}

.epg .rows .programmes .row {
    height: 50px;
    margin-bottom: 5px
}

.epg .rows .programmes .row .padding {
    height: 100%;
    content: '';
    display: inline-block;
    vertical-align: top;
    background-color: #3d424a;
    margin-right: 5px
}

.epg .rows .programmes .prog {
    color: #ffffff;
    background-color: #3d424a;
    padding: 0px 15px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    margin-right: 5px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis
}

.epg .rows .programmes .prog.active, .epg .rows .programmes .prog.tiny.active {
    background-color: transparent
}

.epg .rows .programmes .prog.tiny {
    padding: 0px;
    background-color: #3d424a;
    text-align: center
}

.epg .programmes .timeline {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 2px;
    opacity: 0.75;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5)
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    margin-left: -9px
}

.timeline:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    margin-left: -9px
}

.programmes .item .ico {
    margin-right: 10px
}

.programmes .item.active .ico.red, .programmes .item.active .ico.green {
    color: #ffffff
}

.programmes .item .ico.red {
    color: #e74c3c
}

.programmes .item .ico.green {
    color: #54881b
}

.programmes .circle {
    margin-right: 10px
}

.epg-channel-preview {
    display: block;
    height: calc(100% - 64px);
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #000000;
    box-sizing: content-box
}

.epg-channel-preview .epg-channel-preview-data {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 729px);
    height: 100%
}

.epg-channel-preview .epg-channel-preview-data img {
    max-height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px
}

.epg-channel-preview .epg-channel-preview-data .epg-channel-preview-lines {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 145px);
    height: 116px
}

.epg-channel-preview .epg-channel-preview-data .epg-channel-preview-lines .channel-name {
    display: block;
    height: 30px;
    margin-bottom: 5px;
    color: #a0a0a0
}

.epg-channel-preview .epg-channel-preview-data .epg-channel-preview-lines .programme-name {
    display: block;
    height: 30px;
    margin-bottom: 10px
}

.epg-channel-preview .epg-channel-preview-data .epg-channel-preview-lines div {
    display: block;
    height: 30px
}

.epg-channel-preview .epg-channel-preview-data .epg-channel-preview-lines div .time, .epg-channel-preview .epg-channel-preview-data .epg-channel-preview-lines div .date {
    display: inline-block;
    height: 30px;
    font-size: 14px;
    color: #a0a0a0;
    margin-right: 20px
}

.epg-channel-preview .epg-channel-preview-data .circle {
    margin-right: 5px
}

.epg-channel-preview .epg-channel-preview-data .epg-control {
    margin-right: 10px
}

.epg-channel-preview .epg-channel-preview-show {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 100%;
    white-space: normal;
    overflow: hidden;
    line-height: 21px
}

.epg-channel-preview .epg-channel-preview-show img {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    margin-right: 20px
}

.epg-channel-preview .epg-channel-preview-show div {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 116px
}

.epg-channel-preview .preview-player-holder {
    display: inline-block;
    vertical-align: top;
    width: 206px;
    height: 100%;
    overflow: hidden
}

.stb .epg-channel-preview {
    width: 1240px
}

.stb .epg-channel-preview .epg-channel-preview-data {
    width: 511px
}

.mobile .epg-channel-preview .epg-channel-preview-data {
    width: 50%
}

.mobile .epg-channel-preview .epg-channel-preview-show {
    width: 50%
}

.mobile .epg-channel-preview .preview-player-holder {
    width: 0px
}

.info {
    position: absolute;
    left: 0px;
    top: calc(100% - 309px);
    height: 384px;
    width: 100%;
    z-index: 20
}

.info .panel {
    display: block;
    width: calc(100% - 80px);
    height: auto;
    margin: 35px;
    position: absolute;
    top: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    box-sizing: border-box
}

.panel-left {
    left: -100%
}

.panel-middle {
    left: 0%
}

.panel-right {
    left: 100%
}

.info .panel .row-fluid .info-buttons.btn-container {
    height: 80px
}

.info .panel .row-fluid.data {
    margin: 20px
}

.info .panel .logo {
    height: 110px
}

.info .panel .logo img {
    max-height: 100%
}

.info .number {
    display: inline-block
}

.info .panel .title {
    display: inline-block;
    margin-left: 20px;
    font-size: 24px
}

.info .panel .time {
    color: #a0a0a0
}

.info .panel .progress {
    margin: 0px
}

.info .panel .description {
    margin-left: 20px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: normal;
    color: #a0a0a0
}

.tv .channel .number {
    display: inline-block;
    margin-right: 20px
}

.info .timebar .tick {
    box-sizing: content-box
}

.info .btn-container {
    background-color: rgba(99, 99, 99, 0.3)
}

.info .info-buttons .btn {
    width: 25%;
    line-height: 25px
}

.info .info-buttons .btn:last-child {
    margin: 0px
}

.info .info-buttons .btn .ico {
    display: block
}

.search-panel {
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0
}

.stb .search-panel {
    left: -100%;
    width: 360px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0
}

.stb .search-zone-input {
    width: 80%;
    margin: 0px auto
}

.search-zone-input {
    width: 450px;
    margin: 0px auto
}

.stb .search-zone-button {
    width: 80%;
    margin: 0px auto
}

.stb .search-zone-button .scroller {
    width: 100%
}

.stb .search-zone-button.hot-zone[data-type="horizontal"] .scroller .row .item {
    width: 50%
}

.search-zone-button {
    width: 360px;
    margin: 0px auto
}

.search-zone-input.hot-zone[data-type="horizontal"] .scroller {
    width: 100%
}

.stb .search-zone-input.hot-zone[data-type="horizontal"] .scroller .row .item {
    width: 100%;
    height: 100%
}

.search-zone-input.hot-zone[data-type="horizontal"] .scroller .row .item {
    width: 450px;
    height: 100%
}

.sub-menu-holder {
    text-align: center;
    height: 60px;
    margin-bottom: 20px;
    background-image: -webkit-linear-gradient(left, rgba(21, 26, 33, 0) 0%, #151a21 100%)
}

.sub-menu {
    padding: 0px;
    display: inline-block;
    width: 100%;
    height: 100%
}

.sub-menu .scroller .item, .sub-menu .item {
    text-align: center;
    line-height: 60px;
    padding: 0px 40px;
    color: #a0a0a0
}

.sub-menu .scroller .item.active, .sub-menu .item.active, .sub-menu .scroller .item.selected, .sub-menu .item.selected {
    color: #ffffff
}

.player-control .sub-menu .scroller .item.active, .player-control .sub-menu .item.active {
    color: #ffffff
}

.player-control {
    position: absolute;
    bottom: -184px;
    left: 0px;
    width: 100%;
    height: 184px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8)
}

.player-control .sub-menu-holder {
    background-color: #151a21;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 0px
}

.player-control ul {
    margin: 0px;
    text-align: center
}

.movie-header {
    display: flex;
    line-height: 30px
}

.player-control .epg-controls {
    padding: 0px 20px 20px 20px;
    line-height: 30px;
    height: auto;
    background-color: transparent;
    box-shadow: none
}

.player-control .epg-controls .control {
    margin: 0px 40px 0px 0px
}

.movie-header .title {
    font-size: 26px
}

.movie-header .duration {
    color: #a0a0a0;
    margin-left: 10px
}

.info.youtube-info .progress, .player-control .progress {
    width: 70%
}

#notification {
    background-color: #151a21;
    box-shadow: none;
    box-sizing: border-box
}

#notification > .text {
    padding: 20px
}

#notification > .divider {
    display: none
}

#notification .notification-buttons {
    padding: 10px;
    background-color: transparent
}

#notification .notification-buttons.hot-zone .item {
    box-shadow: none;
    border: none;
    color: #a0a0a0
}

#notification .notification-buttons.hot-zone .item.active {
    color: #ffffff
}

.ads-ticker {
    box-sizing: content-box
}

.ads-ticker span {
    box-sizing: content-box
}

#keyboard {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 880px;
    height: 458px
}

#keyboard .key {
    margin: 0px 10px 10px 0px;
    color: #515151;
    border: 1px solid #bbbdc7;
    border-bottom: 2px solid #bbbdc7;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #fff 0%, #e2e3ed 100%)
}

#keyboard .key[data-key="123"] {
    width: 160px
}

#keyboard .key[data-key="Go"] {
    width: 160px;
    margin-right: 0px
}

#keyboard .key[data-key="Space"] {
    width: 330px
}

#keyboard .key.active {
    background-image: none;
    background-color: #c7c8cd;
    color: #515151
}

.stb .info .timebar .cursor {
    margin-left: -25px
}

.stb.thd603qc #overlay {
    -webkit-mask-image: url(../artwork/overlay.50.png);
    -webkit-background-composite: copy
}

/*# sourceMappingURL=2-petha.css.map */
