<section class="epg">
	<section class="header">
		
		<div class="epg-channel-preview">
			<div class="epg-channel-preview-data">
				<img class="epg-channel-preview-logo" />
				<div class="epg-channel-preview-lines">
					<div class="channel-name" />
					<div class="programme-name" />
					<div>
						<span class="time" />
						<span class="date" />
					</div>
				</div>
			</div>
			<div class="epg-channel-preview-show" />
			<div class="preview-player-holder" />
		</div>
		<div class="hours"><div class="hour-scroller" /></div>
	</section>
	<section class="rows">
		<div class="channels"><div class="channel-scroller" /></div>
		<div class="programmes">
			<div class="epgh no-shadow" data-scroll-into-view="true" data-fn-select="setPreview" />
		</div>
	</section>
	<div class="epg-border" />
	<div class="epg-controls">
		<div class="control" data-fn="keyMenu"><span class="ico ico-menu" /><span>Home</span></div>
		<div class="date" />
		<div class="control" data-fn="keyBlue"><span class="rect blue" /><span data-token="-24 hours"></span></div>
		<div class="control" data-fn="keyGreen"><span class="rect green" /><span data-token="+24 hours"></span></div>
	</div>
</section>