<section class="detail series">
	<div class="sub-menu-holder">
		<div class="sub-menu" />
	</div>

	<div class="detail-header">
		<div class="title" />
		<div class="rating" />
	</div>

	<div class="row-fluid">
		<div class="span6 vod-data">
			<div class="description" />
			<div class="data">
				<p class="language" />
				<p class="duration" />
				<p class="year" />
				<p class="tags" />
			</div>
		</div>
		<div class="span6 episodes">
			<div class="playlist" />
		</div>
	</div>
	<h1 data-token="Actors" />
	<div class="actors" />
</section>