<section class="detail">

	<div class="sub-menu-holder">
		<div class="sub-menu" />
	</div>	
	
	<div class="row-fluid">
		<div class="span7 vod-data">
			<div class="title" />
			<div class="data">
				<p class="year" />
				<p class="duration" />
				<p class="language" />
			</div>
			<div class="description" />
			<div class="rating" />

			<h1 data-token="Actors" />
			<div class="actors" />
            <h1 data-token="Tags" />
			<div class="tags" />
		</div>
		<div class="span5 poster">
			<img style="margin: 0px 20px" />
		</div>
	</div>
</section>